/*------------ GLOBAL STYLE -----------------*/
* {
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
